
#ImagesInstructionsComponentMainDiv{
    position: relative;
    height: calc(240px - 10px);
    width: 100%;
    top: 560px;
    display: flex;
    align-items: center;
}

#InstructionsDiv{
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

#InstructionsTextArea{
    position: relative;
    height: 91%;
    width: 100%;
}