
#ImagesInstructionsComponentMainDiv{
    margin-top: 10px;
    position: relative;
    height: calc(30% - 10px);
    width: 100%;
    top: 70%;
    display: flex;
    align-items: center;
}

#InstructionsDiv{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#InstructionsTextArea{
    position: relative;
    height: 97%;
    width: 100%;
}