
#TopBarMainDiv{
    position: relative;
    width: 100%;
    height: 75px;
    background-color:#005687;
    display: flex;
    align-items: center;
}

#TopBarTitleDiv{
    position: relative;
    left: 25px;
}

#TopBarTitleLabel{
    font-size: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

#TopBarLoginButton{
    position: absolute;
    right: 50px;
    background-color: white;
    color: #000000;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.TopBarButton{
    border-radius: 5px;
}

#TopBarLoginButton label{
    cursor: pointer;
}


#LogoutIcon{
    margin-left: 10px;
    cursor: pointer;
}

#ShelfSetUpButton{
    position: absolute;
    right: calc(50px + 100px + 25px);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0;
}

#RecipeStepsButton{
    position: absolute;
    right: calc(50px + 100px + 100px + 25px + 25px);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0;
}

.IsAlreadySelected{
    background-color: #929EAD;
    color: white;
}

.IsNotSelected{
}