
#TopBarMainDiv{
    position: relative;
    width: 100%;
    height: 75px;
    background-color:#e7ceb5;;
    display: flex;
    align-items: center;
}

#TopBarTitleLabel{
    position: relative;
    font-size: 50px;
    color: #7e3c2d;
}

#TopBarLoginButton{
    position: absolute;
    right: 50px;
    color: #e7ceb5;
    background-color: #7e3c2d;
    border: 0;
}