
#StepListComponentMainDiv{
    position: absolute;
    width: 900px;
    margin-left: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    max-height: 560px;
    overflow: auto;
    right: 0;
}

#RecipeTableTitleDiv{
    background-color: #000000;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RecipeTableTitleDiv label{
    font-size: 30px;
    font-weight: bold;
}

#DisplayHistoryPopUpButton{
    position: absolute;
    right: 10px;
}

#StepListComponentMainDiv table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

#StepListTableTitleRow{
    height: 30px;
}

#StepListComponentMainDiv table thead tr th{
    background-color: #005687;
    color: white;
    width: 150px;
}

.IsOddStepRow{
    background-color: #f0f8ff;
}

.IsEvenStepRow{
    background-color: #fffafa;
}

#CreateStepSaveTableButtonsRow{
    height: 30px;
}


#CreateStepSaveTableButtonsRow button{
    margin-left: 10px;
    margin-right: 10px;
}

#SaveRecipeLabel{
    margin-left: 3px;
}
