#MainLoginCredsComponentDiv{
    position: relative;
    height: 350px;
    width: 300px;
    background: #005687;
    left: calc(50% - 150px);
    top: max(0px, calc(50% - 175px - 37.5px));
    border-radius: 25px;
}

#TitleLabel{
    position: relative;
    font-size: 30px;
    top: 30px;
    color: white;
}

#UsernameDiv{
    position: relative;
    top: calc(50px);
    margin-top: 30px;
}

#UsernameIcon{
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

#UsernameInput{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    padding-left: 5px;
    color: white;
    padding-bottom: 5px;
}

#UsernameInput:focus{
    outline: none;
}

#UsernameInput::placeholder{
    color: white;
}

#PasswordDiv{
    position: relative;
    top: calc(50px);
    margin-top: 40px;
}

#LockIcon{
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

#PasswordInput{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 5px;
    padding-left: 5px;
}

#PasswordInput:focus{
    outline: none;
}

#PasswordInput::placeholder{
    color: white;
}

#LoginButton{
    position: relative;
    top: calc(30px);
    margin-top: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 0px;
    background: white;
}

#LoginKeyIcon{
    font-size: 30px;
    color: #005687;
}

#InvalidDetailsDiv{
    position: relative;
    top: 40px;
    color: white;
}

#CreateNewAccountDiv{
    width: 100%;
    position: absolute;
    top: 320px;
    text-align: center;
}

#CreateNewAccountButton{
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
}