#ImagesGridComponentMainDiv{
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    height: 500px;
    width: 600px;
    overflow: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    text-align: center;
}

.image-item {
    width: 250px;
    object-fit: cover;
    cursor: pointer;
}

#ImageNameLabel{
    color: white;
}